{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Register</h1>
    {{form_start(form)}}
        {{form_row(form.firstname)}}
        {{form_row(form.lastname)}}
        {{form_row(form.age)}}
        {{form_row(form.email)}}
        {{form_row(form.plainPassword.first)}}
        {{form_row(form.plainPassword.second)}}
        <button class="btn btn-primary">Register</button>
    {{form_end(form)}}    
{% endblock %}
